.header{
min-width: 100%;
background-color: rgb(36, 21, 148);
padding-top: 24px;
padding-bottom: 24px;
border-bottom: solid 2px black ;
border-radius: 0 0 4px 4px;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: space-between;
}
.login{
  display: block;
 
  border-radius: 50%;
  
}

.home{
  margin-left: 20px;
}
.img{
  border-radius: 50%;
}
.menu{
  display: flex;
  margin-right: 20px;
}